
<div class="container-fluid">
  <div class="row mt-5">
        <div class="col">
              <div class="col-4">
                    <div class="card shadow">
                          <div class="card-body">
                                <form>
                                      <div class="mb-3">
                                        <h4>Forgot password</h4>

                                        <div class="mb-3">
                                          <label for="exampleInputEmail1">Email address</label>
                                          <input type="email" name="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>

                                        <button type="button" (click)="sendlink()"  class="btn btn-info">Send link</button>

                                        <div class="row">
                                          <div class="col-12">
                                            <a [routerLink]="['/login']" style="text-decoration:none;">Click here for back to <span class="text-danger">Login</span></a>
                                          </div>
                                        </div>

                                      </div>
                                </form>
                          </div>
                    </div>
              </div>
        </div>
  </div>
</div>
